
<script src="~/Scripts/charts/exporting.js"></script>
<script src="~/Scripts/charts/highcharts.js"></script>

@using Highsoft.Web.Mvc.Charts

<table class="jumbotron" align="center">
    <tr>
        <td id="pieChart" style="min-width: 670px; height: 400px;">
            @(Html.Highsoft().GetHighcharts(
                new Highcharts
                {
                    Chart = new Highsoft.Web.Mvc.Charts.Chart
                    {
                        PlotBackgroundColor = null,
                        PlotBorderWidth = null,
                        PlotShadow = new Shadow
                        {
                            Enabled = false
                        }
                    },
                    Title = new Title
                    {
                        Text = "Partidos Politicos"
                    },
                    Tooltip = new Tooltip
                    {
                        PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
                    },
                    PlotOptions = new PlotOptions
                    {
                        Pie = new PlotOptionsPie
                        {
                            AllowPointSelect = true,
                            Cursor = PlotOptionsPieCursor.Pointer,
                            DataLabels = new PlotOptionsPieDataLabels
                            {
                                Enabled = true,
                                Format = "<b>{point.name}</b>: {point.percentage:.1f} %"
                            }
                        }
                    },
                    Series = new List<Series>
                    {
                        new PieSeries
                        {
                            Name = "Percentage",
                            Data = @ViewData["PartyPie"] as List<PieSeriesData>
                        },
                    }
                }
                , "pieChart")
                )
        </td>
        <td id="columnChart" style="min-width: 670px; height: 400px;">
            @(Html.Highsoft().GetHighcharts(
                new Highcharts
                {
                    Title = new Title
                    {
                        Text = "Porcentaje de Candidatos 2018"
                    },
                    Subtitle = new Subtitle
                    {
                        Text = "Votos"
                    },

                    XAxis = new List<XAxis>
                            {
                    new XAxis
                    {
                        Type = XAxisType.Category,
                        Labels = new XAxisLabels
                        {
                            Rotation = -24.5,
                            Style = new XAxisLabelsStyle()
                            {
                                FontSize = "9.5px"
                            }
                        }
                    }
                            },
                    YAxis = new List<YAxis>
                            {
                    new YAxis
                    {
                        Min = 0,
                        Title = new YAxisTitle
                        {
                            Text = "Votos (millions)"
                        }
                    }
                            },
                    Legend = new Legend
                    {
                        Enabled = false
                    },
                    Tooltip = new Tooltip
                    {
                        PointFormat = "Votos: <b>{point.y:.1f} mil</b>"
                    },
                    Series = new List<Series>
                    {

                        new ColumnSeries
                        {
                            Name = "Voto",
                            DataLabels = new ColumnSeriesDataLabels
                            {
                                Enabled = true,
                                Rotation = -90,
                                Color = "#FFFFFF",
                                Align = ColumnSeriesDataLabelsAlign.Right,
                                Format = "{point.y:.1f}",
                                Y = 10,

                                Shadow = new Shadow()
                                {
                                    Enabled = true,
                                    Color = "black",
                                    Width = 10,
                                    OffsetX = 0,
                                    OffsetY = 0
                                }
                            },
                        Data = @ViewData["ColumnCandidate"] as List<ColumnSeriesData>
                        }
                    }
                }
                , "columnChart")
                )
        </td>
    </tr>
</table>
