@using WebApp.Models
@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2> Error </h2>

@if (Model.Exception is Excepcion)
{
    <h3> @Model.Exception.Message</h3>
}
else
{
    <h3> This Crashed =C</h3>
}
<br>
<br>
<input type="submit" value="Back to Index" onclick="location.href='@Url.Action("Index", "Home/Index")'" class="btn btn-default" />

